{% extends 'aa.html' %}
{% load static %}
{% block content %}


<div class="page-wrapper">
<div class="content container-fluid">
<div class="page-header">
<div class="row">
<div class="col-lg-6 col-md-12 col-sm-12 col-12">
<h5 class="text-uppercase mb-0 mt-0 page-title">About Student</h5>
</div>
<div class="col-lg-6 col-md-12 col-sm-12 col-12">
<ul class="breadcrumb float-right p-0 mb-0">
<li class="breadcrumb-item"><a href="index.html"><i class="fas fa-home"></i> Home</a></li>
<li class="breadcrumb-item"><a href="all-students.html">Student</a></li>
<li class="breadcrumb-item"><span> About Student</span></li>
</ul>
</div>
</div>
</div>
<div class="content-page">
<div class="row">
<div class="col-lg-12 col-md-12 col-sm-12 col-12">
<div class="aboutprofile-sidebar">
<div class="row">
<div class="col-lg-3 col-md-12 col-sm-12 col-12">
<div class="aboutprofile">
<div class="card">
<div class="card-body">
<div class="row">
<div class="col-lg-12 col-md-12 col-sm-12 col-12">
<div class="aboutprofile-pic">
<img class="card-img-top" src="{% static 'img/user.jpg' %}" alt="Card image">
</div>
<div class="aboutprofile-name">
<h5 class="text-center mt-2">Parker</h5>
<p class="text-center">Maths Student</p>
</div>
<ul class="list-group list-group-flush">
<li class="list-group-item"><b>Followers</b><a href="#" class="float-right">1000</a></li>
<li class="list-group-item"><b>Following</b><a href="#" class="float-right">700</a></li>
<li class="list-group-item"><b>Friends</b><a href="#" class="float-right">5000</a></li>
</ul>
</div>
</div>
</div>
</div>
</div>
<div class="aboutme-profile">
<div class="card">
<div class="card-header">
<h4 class="page-title">About Me</h4>
</div>
<div class="card-body">
<p>Hello I am Parker. Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
<ul class="list-group list-group-flush">
<li class="list-group-item"><b>Gender</b><a href="#" class="float-right">Male</a></li>
<li class="list-group-item"><b>Father name</b><a href="#" class="float-right">Parker</a></li>
<li class="list-group-item"><b>Mother name</b><a href="#" class="float-right">Wincy</a></li>
<li class="list-group-item"><b>Class</b><a href="#" class="float-right"> 2nd std B	</a></li>
<li class="list-group-item"><b>Date of Birth</b><a href="#" class="float-right">10/12/1988</a></li>
<li class="list-group-item"><b>Occupation</b><a href="#" class="float-right"> Technician</a></li>
<li class="list-group-item"><b>Phone number</b><a href="#" class="float-right">973-584-5870</a></li>
</ul>
</div>
</div>
</div>
<div class="aboutprofile-address mt-4">
<div class="card">
<div class="card-header">
<h4 class="page-title">Address</h4>
</div>
<div class="card-body">
<address class="text-center mb-0">
913 Deer Ridge Drive<br>
Succasunna, NJ 07876
</address>
</div>
</div>
</div>
</div>
<div class="col-lg-9 col-md-12 col-sm-12 col-12">
<div class="profile-content">
<div class="row">
<div class="col-lg-12">
<div class="card">

<div class="card-header">
<h4 class="page-title">
About Me
</h4>
 </div>

<div class="card-body">
<div id="biography" class="biography">
<div class="row">
<div class="col-md-3 col-6"> <strong>Full Name</strong>
<p class="text-muted">Parker</p>
</div>
<div class="col-md-3 col-6"> <strong>Mobile</strong>
<p class="text-muted">973-584-5870</p>
</div>
<div class="col-md-3 col-6"> <strong>Email</strong>
<p class="text-muted"><a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="104071627b7562507568717d607c753e737f7d">[email&#160;protected]</a></p>
</div>
<div class="col-md-3 col-6"> <strong>Location</strong>
<p class="text-muted">USA</p>
</div>
</div>
<hr>
<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the</p>
<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the</p>
<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
into electronic typesetting, remaining essentially unchanged.</p>
<h4>Education</h4>
<hr>
<ul class="list-unstyled">
<li class="list-item">Lorem Ipsum is simply dummy text of the printing and typesetting industry</li>
<li class="list-item">Lorem Ipsum is simply dummy text of the printing and typesetting industry</li>
<li class="list-item">Lorem Ipsum is simply dummy text of the printing and typesetting industry</li>
</ul>
<h4>Experience</h4>
<hr>
<ul class="list-unstyled">
<li class="list-item">Lorem Ipsum is simply dummy text of the printing and typesetting industry</li>
<li class="list-item">Lorem Ipsum is simply dummy text of the printing and typesetting industry</li>
<li class="list-item">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </li>
<li class="list-item">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </li>
<li class="list-item">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </li>
<li class="list-item">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </li>
</ul>
<h4>Conferences, Cources &amp; Workshop Attended</h4>
<hr>
<ul class="list-unstyled">
<li class="list-item">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </li>
<li class="list-item">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </li>
<li class="list-item">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </li>
<li class="list-item">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </li>
<li class="list-item">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </li>
<li class="list-item">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </li>
<li class="list-item">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </li>
</ul>
</div>
</div>
</div>
</div>
</div>
</div>
 </div>
</div>
</div>
</div>
</div>
</div>
</div> 
{% endblock %}