{% extends 'aa.html' %}
{% load static %}
{% block content %}

<div class="page-wrapper">
<div class="content container-fluid">
<div class="page-header">
<div class="row">
<div class="col-lg-6 col-md-6 col-sm-6 col-12">
<h5 class="text-uppercase mb-0 mt-0 page-title">students List</h5>
</div>
<div class="col-lg-6 col-md-6 col-sm-6 col-12">
<ul class="breadcrumb float-right p-0 mb-0">
<li class="breadcrumb-item"><a href="index.html"><i class="fas fa-home"></i> Home</a></li>
<li class="breadcrumb-item"><a href="#">Students</a></li>
<li class="breadcrumb-item"><span> Students List</span></li>
</ul>
</div>
</div>
</div>
<div class="row">
<div class="col-sm-4 col-12">
</div>
<div class="col-sm-8 col-12 text-right add-btn-col">
<a href="{% url 'add-student' %}" class="btn btn-primary float-right btn-rounded"><i class="fas fa-plus"></i> Add Student</a>
<div class="view-icons">
<a href="{% url 'all-students' %}" class="grid-view btn btn-link"><i class="fas fa-th"></i></a>
<a href="{% url 'students-list' %}" class="list-view btn btn-link active"><i class="fas fa-bars"></i></a>
</div>
</div>
</div>
<div class="content-page">
<div class="row filter-row">
<div class="col-sm-6 col-md-3">
<div class="form-group form-focus">
<input type="text" class="form-control floating">
<label class="focus-label">Student ID</label>
</div>
</div>
<div class="col-sm-6 col-md-3">
<div class="form-group form-focus">
<input type="text" class="form-control floating">
<label class="focus-label">Student Name</label>
</div>
</div>
<div class="col-sm-6 col-md-3">
<div class="form-group form-focus select-focus">
<select class=" form-control">
<option>Select class</option>
<option>1</option>
<option>2</option>
<option>3</option>
<option>4</option>
<option>5</option>
<option>6</option>
<option>7</option>
<option>8</option>
<option>9</option>
<option>10</option>
</select>
<label class="focus-label">Class</label>
</div>
</div>
<div class="col-sm-6 col-md-3">
<a href="#" class="btn btn-search rounded btn-block mb-3"> search </a>
</div>
</div>
<div class="row">
<div class="col-lg-12 mb-3">
<div class="table-responsive">
<table class="table custom-table datatable">
<thead class="thead-light">
<tr>
<th>Name </th>
<th>Student ID</th>
<th>Gender</th>
<th>Parents Name</th>
<th>Class</th>
<th>Section</th>
<th> Address</th>
<th>Date of Birth</th>
<th>Email</th>
<th>Mobile</th>
<th class="text-right">Action</th>
</tr>
</thead>
<tbody>
	{% for student in all_students %}
<tr>
 <td>
<h2>
<a href="{% url 'student-profile' student.id %}" class="avatar text-white">P</a>
<a href="{% url 'student-profile' student.id %}">{{student.name}} <span></span></a>
</h2>
</td>
<td>ST-0d00{{student.id}}</td>
<td>Male</td>
<td>Jeffrey M. Wong</td>
<td>1</td>
<td>A</td>
<td>Manikganj.</td>
<td>1 Jan 2012</td>
<td><a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="2353425148465163465b424e534f460d404c4e">[email&#160;protected]</a></td>
<td>973-584-5870</td>
<td class="text-right">
<a href="edit-exam.html" class="btn btn-primary btn-sm mb-1">
<i class="far fa-edit"></i>
</a>
<button type="submit" data-toggle="modal" data-target="#delete_employee" class="btn btn-danger btn-sm mb-1">
<i class="far fa-trash-alt"></i>
</button>
</td>
</tr>
{% endfor %}
</tbody>
</table>
</div>
</div>
</div>
</div>
</div>
</div>

<div id="delete_employee" class="modal" role="dialog">
<div class="modal-dialog modal-dialog-centered">
<div class="modal-content modal-md">
<div class="modal-header">
<h4 class="modal-title">Delete student</h4>
</div>
<form>
<div class="modal-body">
<p>Are you sure want to delete this?</p>
<div class="m-t-20"> <a href="#" class="btn btn-white" data-dismiss="modal">Close</a>
<button type="submit" class="btn btn-danger">Delete</button>
</div>
</div>
</form>
</div>
</div>
</div>
</div>

{% endblock %}