<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Teacher deshboard</h1>
    <h3>User: {{ user }}</h3>
    <h3>Department:</h3>
    <h1>Attendance</h1>
    {% for subject in subject %}
    <a href="{% url 'students-attendance' subject.which_class.id %}"><h4>{{ subject.subject_name }}---<small>{{subject.which_class}}</small></h4></a>
    {% endfor %}
    <h1>View/Update Attendance</h1>
    {% for subject in subject %}
    <a href="{% url 'view-attendance' subject.which_class.id %}"><h4>{{ subject.subject_name }}---<small>{{subject.which_class}}</small></h4></a>
    {% endfor %}
    <h1>Give Mark</h1>
    {% for subject in subject %}
    <a href="{% url 'give-mark' subject.id %}"><h4>{{ subject.subject_name }}---<small>{{subject.which_class}}</small></h4></a>
    {% endfor %}
    <h1>View or Update Mark</h1>
    {% for subject in subject %}
    <a href="{% url 'view-mark' subject.id %}"><h4>{{ subject.subject_name }}---<small>{{subject.which_class}}</small></h4></a>
    {% endfor %}
</body>
</html>