<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <td>Student Name</td>
                <td>Mark</td>
                <td>Action</td>
            </tr>
        </thead>
        <tbody>
            {% for mark in marks %}
            <tr>
                <td>{{mark.student.name}}</td>
                <td>{{mark.mark}}</td>
                <td><a href="{% url 'edit-mark' mark.id %}">Edit</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>